@model MyFirstWebsite.Models.Lists
@{
    ViewBag.Title = "Index";
    var username = User.Identity.Name;
}

<h2>@username's List</h2>

@using (Html.BeginForm("Index", "Home", FormMethod.Post))
{
    <span>Enter new items: </span>
    @*<input type="text" name="new_item" /><br />*@
    @Html.TextBoxFor(l => l.Details)<br />
    <span>Public post?</span> <input type="checkbox" name="check_public" /><br />
    <input type="submit" value="Add Item" />
}
<br />

<table class="table table-bordered table-condensed>
    <thead>
        <tr>
            <th style="text-align: center;">Id</th>
            <th style="text-align: center;">Details</th>
            <th style="text-align: center;">Time - Date Posted</th>
            <th style="text-align: center;">Time - Date Edited</th>
            <th style="text-align: center;">Edit</th>
            <th style="text-align: center;">Delete</th>
            <th style="text-align: center;">Public Post</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;"></td>
            <td style="text-align: center;" >
                <a href="@Url.Action("Edit", "Home")">Edit</a>
            </td>
            <td style="text-align: center;">
                <a href="@Url.Action("Delete", "Home")">Delete</a>
            </td>
            <td style="text-align: center;"></td>
        </tr>
    </tbody>
</table>



